/* shared element */
.primary-btn{
    border-radius: 8px;
    background: #E55473; 
    color: #FFFFFF;
    padding: 13px 25px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.primary-btn:hover{
    background: #FFFFFF;
    color: #E55473; 
    font-weight: 700;
}
/* universal element */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Lato;
}

/* header section */
.header-section{
    background: rgba(229, 84, 115, 0.10); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 150px;
    gap: 100px;
}

.header-heading{
    color: #272727;
    font-size: 60px;
    font-weight: 700; 
    margin-bottom: 25px;
}

.header-paragraph{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px; 
}
